# https://docs.python.org/3/ <-- doc(very useful)
## https://edabit.com/challenges/python3 <- (practice) 
## https://www.tutorialspoint.com/difference-between-method-and-function-in-python 
# what is diff b/w function and method see cmts in 1st 2 vdos

In [1]:
# we can shift +tab to know more abt a function 
# or help(mylist.count())-- will also do the same

In [4]:
#What does the operation s.index(x[, i[, j]])
#No, it's not the index of each object. The square brackets are there to indicate that those 
#other parameters are optional, you don't actually use them when you use the method. i and j are a start and stop value.

#### see cmts of 41 vdo -guess game

In [5]:
type(print(1))

1

NoneType

In [1]:
def say_hello(name):
    print("hello ",name)
    print("welcome")

In [2]:
say_hello

In [3]:
say_hello('dhiyanu')

hello  dhiyanu
welcome

In [4]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [5]:
def say_hello(name="user"):
    print("helllo ",name)

In [6]:
say_hello()

helllo  user

### careful with datatypes on taking input and giving input to functions
### what is diff between static and dynamic typing in programming __> searchnet and see in vdo-44

### remember, statements after return wont work if return is executed
### also after continue is executed control goes back to loop so in this case also rem lines wont run

### IN PYHTON WE CAN RETURN MORE THAN ONE VALUE USING A SINGLE RETURN STATEMENT
### or else we can return a single tuple and unpack later

In [24]:
# NOTE SEE THIS - this finds num of even nos in list if so it prints true
def even_list(mlist):
    ce=0
    el=[]
    for i in mlist:
        if i%2==0:
            ce+=1
            el.append(i)
    return bool(ce),ce,el

In [25]:
even_list([1,2,4])#TRUE - IT CONTAINS EVEN NOS AND ITS COUNT IS 2

(True, 2, [2, 4])

In [26]:
even_list([9,7,3])

(False, 0, [])

In [29]:
#another ez method
def even_list(mlist):
    ce=0
    el=[x for x in mlist if x%2==0 ]
    return bool(el),len(el),el
    
#IF LIST IS EMPTY THEN bool(LIST) IS FALSE ,ELSE TRUE

In [30]:
even_list([1,4,5,2,7,10])

(True, 3, [4, 2, 10])

In [31]:
#TUPLE UNPACKING WITH PY AND MULTIPLE RETURN

In [32]:
work_hours = [('John Lennon', 150),('Paul McCartney', 300),('George Harrison', 120),('Ringo Starr',300),('Alice Cooper',120),('David Bowie',300)]
def employee_check(work_hours):

    current = 0

    lst_best = []

    for employee,hours in work_hours:

        if hours > current:

            lst_best.clear()

            lst_best.append((employee,hours))

            current = hours

        elif hours == current:

            lst_best.append((employee,hours))

        else:

            pass           

    return lst_best

In [33]:
employee_check(work_hours)

[('Paul McCartney', 300), ('Ringo Starr', 300), ('David Bowie', 300)]

### **recursion try**

In [54]:
from random import shuffle 
g=[' ','O',' ']


def shuffle_game(g,guess):
    shuffle(g)
    ng=g
    if(ng[guess]=='O'):
        print("superhero",ng)
    else:
        print(ng,"dumbass")
        c=input("wanna try again press s:")
        if c=='s':
            guess=int(input("guess position:"))
            shuffle_game(g,guess)

In [55]:
shuffle_game(g,1)

[' ', ' ', 'O'] dumbass
wanna try again press s:s
guess position:0
[' ', 'O', ' '] dumbass
wanna try again press s:0

In [61]:

from random import shuffle
li=[' ','O',' ']

def shuffle_list(li):
    shuffle(li)
    return li

def game_guess():
    guess=''
    while guess not in ['0','1','2']:
        guess=input("enter guess:")
    return int(guess)

def check_guess(ml,guess):
    if(ml[guess]=='O'):
        print("correct guess")
    else:
        print("wrong ",ml,guess)
    
    
ml=shuffle_list(li)
gue=game_guess()
check_guess(ml,gue)

enter guess:2
wrong  ['O', ' ', ' '] 2

##  *** args and ****kwargs

In [7]:
def myfunc(a,b,c=0,d=0):
    return sum((a,b,c,d))
print(myfunc(1,2))
print(myfunc(1,2,3,4))
print(myfunc(1,2,3,4,5))

3
10

TypeError: myfunc() takes from 2 to 4 positional arguments but 5 were given

### so in order to overcome this we use *args see that we STORE ARGUMENTS IN A TUPLE NAMED args(we can give any name) 
## var length arg- *args
## var length arg with keywords- **kwargs -- arbitrary num of args accepted- no neeed to say num of args before hand
**ALSO NOTE THAT SUM() TAKES TUPLE ANS AN INPUT NOT INTEGER
### if we are combining args and kwargs first give args then only kwargs changing the order gives ERROR

In [5]:
def myfunc1(*args):#can b any name
    print(args)
    return sum(args)

print(myfunc1(1,2,3,4))
#print(args) --> REMEMBER THIS WILL GIVE ERR COZ ITS DEFINED ONLY INTO THAT FUNCTION myfunc1()
print(myfunc1(1,2))

(1, 2, 3, 4)
10
(1, 2)
3

In [9]:
def myfunc2(**kwargs):
    print(kwargs)
    if 'hello' in kwargs:
        print("found")
    else:
        print("not found")

In [12]:
myfunc2(a='fruit',b='not')

{'a': 'fruit', 'b': 'not'}
not found

In [14]:
def myfunc3(name,*other):
    print(name)
    print(other)

myfunc3('dhiyan',19,'india','US')

dhiyan
(19, 'india', 'US')

In [24]:
def myfunc4(name,**others):
    print(name)
    print(others)
    print(others.items(), type(others.items()))
    for i,j in others.items():
        print(i,':',j)
    
myfunc4('dhiyanesh',age=19,nationality='india',studied_at='US')
#NOTE 'nationality' gives error shld type without paraenthesis during function call
## SEE WITH KEYWORDS ITS MORE EZ AND LESS CONFUSING (2 countries gives dont know which is what in myfunc3 but known in myfunc4)

dhiyanesh
{'age': 19, 'nationality': 'india', 'studied_at': 'US'}
dict_items([('age', 19), ('nationality', 'india'), ('studied_at', 'US')]) <class 'dict_items'>
age : 19
nationality : india
studied_at : US

In [32]:
# don;t change order of args and kwargs during def and also during calling
def myfunc5(*names,**details):
    print(names)
    print(details)
    print("my firstname is {} my age detail{} ".format(names[0],details['age']))

In [33]:
myfunc5('dhiyanesh','war','G',gender='M',age='19',color='brown')

('dhiyanesh', 'war', 'G')
{'gender': 'M', 'age': '19', 'color': 'brown'}
my firstname is dhiyanesh my age detail19

## see how to join list to form a string

In [10]:
#SORTING WITH -VE NOS IN A STR FORMAT IN A LIST GIVES WRONG RESULT SO MAP THAT TO INT() TO GET CRT RESULT
li=['-1','-3','-10','5','4','2']
li.sort()
print(li)
nl=list(map(int,li))
nl.sort()
print(nl)

['-1', '-10', '-3', '2', '4', '5']
[-10, -3, -1, 2, 4, 5]

In [15]:
#MAP,FILTER,LAMBDA
def greet(name):
    return name+' hello'
print(greet('dhiyanu'))
print(greet('raj'))
print('\n')
#instead we can use
names=['dhiyan','raj','kamal']
print(list(map(greet,names)))
#or 
print('\n')
for i in list(map(greet,names)):
    print(i)

dhiyanu hello
raj hello


['dhiyan hello', 'raj hello', 'kamal hello']


dhiyan hello
raj hello
kamal hello

## filter map lambda -telusko vdo 
## collections in python

In [45]:
import string
st="the quick brown fox jumps over the lazy dog"
#st=" hi my name is"
st=st.replace(" ","")
#print(st)
li=list(set(map(lambda x:x,st)))
li.sort()
print(li)
print(''.join(li)==string.ascii_lowercase)
#print(n)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
True

## how to convert a list of string to a list of int 
## that error while giving map(int,li) that invalid base 10 h ..
## remember that join() method is little bit diff from other in passing args

In [4]:
#HERE WE EXPECT TO REVERSE THE STRING BUT ACTUALLY 
# SINCE string IS AN ITERABLE OBJ,LETTER BY LETTER IS PASSED 
#PASSED TO THE LAMBDA AND REV IT GIVES SAME CHAR

s='hi iam dhiyanu'
print(list(map(lambda x:x[::-1],s)))
print(''.join(list(map(lambda x:x[::-1],s))))

['h', 'i', ' ', 'i', 'a', 'm', ' ', 'd', 'h', 'i', 'y', 'a', 'n', 'u']
hi iam dhiyanu

# NOTE:using if and else in a lambda expression
https://stackoverflow.com/questions/1585322/is-there-a-way-to-perform-if-in-pythons-lambda 
https://thispointer.com/python-how-to-use-if-else-elif-in-lambda-functions/

In [11]:
list(map(lambda x:True if x%2==0 else False,[1,2,3,4,5,6]))

[False, True, False, True, False, True]

In [13]:
list(map(lambda x:"EVEN" if x%2==0 else "ODD",[1,2,3,4,5,6]))

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN']

In [14]:
list(map(lambda x:print('EVEN') if x%2==0 else print("ODD"),[1,2,3,4]))

ODD
EVEN
ODD
EVEN

[None, None, None, None]

In [6]:
def reverse_strings_list(string_list):
    result = list(map(lambda x:reversed(x), string_list))
    return result

colors_list = ["Red", "Green", "Blue", "White", "Black"]
print("\nOriginal lists:")
print(colors_list)
print("\nReverse strings of the said given list:")
print(reverse_strings_list(colors_list))

Original lists:
['Red', 'Green', 'Blue', 'White', 'Black']

Reverse strings of the said given list:
[<reversed object at 0x000001F622AFE040>, <reversed object at 0x000001F622AFE100>, <reversed object at 0x000001F622AFE130>, <reversed object at 0x000001F622AFE5B0>, <reversed object at 0x000001F622AFE670>]

https://www.programiz.com/python-programming/methods/built-in/reversed

### what is an iterator and what is return type as an iterator?
### what is self written inside func?
REVERSED() METHOD??

remember lower() is not inplace, it won't apply automatically