In [1]:
#list of available keywords 
import keyword
print(keyword.kwlist)
print("\ntotal keywords:-{}".format(len(keyword.kwlist)))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

total keywords:-35

In [1]:
s="hello nigga"
print(len(s))
print(s[-1])
print(s[len(s)-1])
print(s[-len(s)])
#hi comments

11
a
a
h

In [1]:
#slice

n="0123456789"
print("check")
print(len(n))
print(n[9:-1:-1])#prints nothing
print(n[::])
print(n[1:5])#END INDEX WILLN'T BE INCLUDED!!!
print(n[:len(n)])
print(n[::-1])
print(n[2:8:2])
print(n[2:4:1])
print(n[2:4:-1])#prints nothing
print(n[4:2:-1])
print(n[2:8:-2])#prints nothing coz n.p to print
#from backward and simoultaneously starting with 2

#SIMPLY IF (-) COMES IN SKIP PART ,THEN STARTING INDEX > STOP INDEX
# IF NOT FOLLOWED IT DOES SHOW ERROR ,INSTEAD IT PRINT's NOTHING

print(n[8:2:-2])
print(n[0:-4:1])# works fine ,from 0 to -4(ie 6)

#NOTEEE - IMPORTANT
#IF (-) COMES IN START /STOP INDEX THEN MAKE IT AS POSITIVE (EX:-4 -> 6 in blw example) 


print(n[-4:0:-1])

check
10

0123456789
1234
0123456789
9876543210
246
23

43

864
012345
654321

### MUTABLE IN IMMUTABLE IN PYTHON DETAILED:

https://www.mygreatlearning.com/blog/understanding-mutable-and-immutable-in-python/

In [3]:
#immutable
x='inaa_thala'
x='e'+x[1:]#immutable so reusing the var name(reassigning)
print(x)

#concat
y="_amuku_dumuku "
print(x+y)
# * opr
print(3*(x+y+'  '))
print(y*3)
print('1'+y)
#print(1+x)#num+str--so error
print(x+1) # this also same above reason

enaa_thala
enaa_thala_amuku_dumuku
enaa_thala_amuku_dumuku   enaa_thala_amuku_dumuku   enaa_thala_amuku_dumuku
_amuku_dumuku _amuku_dumuku _amuku_dumuku
1_amuku_dumuku

TypeError: can only concatenate str (not "int") to str

In [35]:
x="hi vro"
#put x. then press tab to see avail meths

In [37]:
x.capitalize()

'Hi vro'

In [38]:
x.swapcase #withoout paraenthesis to know abt the function

In [39]:
x.swapcase()

'HI VRO'

In [40]:
'See You'.swapcase()

'sEE yOU'

### LETS SEE SOMEMORE STRING METHODS LATER

https://www.programiz.com/python-programming/methods/string

In [3]:
#PRINTING USING .format()
print("formating try {}".format("INSERTED")) #NO NEED OF COMMA IN B/W
print("formating try diff {th} {o} {th}".format(o='one',t='two',th='three'))
print("formating try index {1} {2} {1}".format('hai','thala','va'))
print("formating diff types {} {} {}".format(1,'hai',1.5))

formating try INSERTED
formating try diff three one three
formating try index thala va thala
formating diff types 1 hai 1.5

In [13]:
# FORMATING OF FLOAT
print("float formating {:1.5f}".format(100/177))#don't leave space before ':' if u r not giving anything
result=100/177
print("float fmtg 2 {:1.3f}".format(result))
print("float fmtg 3 {r:5.5f}".format(r=result))
print("float fmtg 4 {t:10.3f}".format(t=100/177))#note that num before decimal is the white space allocted for display
print("float fmtg 5 {:10.6f}".format(result))#total space 10 in that 6 for decimal--NOTE: BUT SEE 2,3 TYPE

float formating 0.56497
float fmtg 2 0.565
float fmtg 3 0.56497
float fmtg 4      0.565
float fmtg 5   0.564972

In [1]:
#FOR FILLING LATER ON STRINGS AAND METHS

In [49]:
#LISTS
list1=[1,'a','hike',2.34]
list2=['a','z','b']
list9=['a',1,'s',3]
list10=[0]*10
print(list10)
list2.sort() #ONLY SORTS INTERNALLY AGAIN WE HAVE TO CALL THAT LIST ---- NOT PRINT - PRINT GIVES NONE
print(list2.sort())#-- prints NONE
print(list2)
print(list1+list2)
print('\n')

print(list2.append(12))#in place NO RETURN TYPE -- NULL IS THE RETURN TYPE BUT 12 GETS APPENDED IN THE LIST
list4=list2.append(11)
print(list2)
list4=list2# without this, list4=list2.append(1),then print(list4) prints NONE
#coz list2.append(1) returns NONE and it makes it as list4=NONE 
print(list4)
list2.append(10)
print(list2)
list2.append('q')
print(list2)
print('\n')

print(list2.pop())#only returns the poped item  ---- THERE IS A RETURN TYPE UNLIKE sort(),append()
poped_item=list2.pop(0)
print(poped_item)
print(list2)
print('\n')

list2.reverse()#returns NONE-inplace
list3=list2
print(list3)
list3.reverse()
print(list3)
print('\n')

list3.clear()#clears all the elements from the list
print(list3)
#print(list10) undefined so error will come 
print('\n')

list3.append(10)
list3.append(11)
print(list3)
print('\n')

print(list3.count(10))
print(list3.count(1))
print('\n')

list3.extend([12,14,16])
print(list3)
print('\n')

print(list3.index(12))
#print(list3.index(1000))  ERROR -VALUE ERROR "THE NUM IS NOT IN THE LIST" 
print('\n')

print(len(list3))
list3.insert(0,100)## (INDEX,VALUE TO INSERT)
print(len(list3))
# note-below one is like alt of append()
list3.insert(len(list3),'a')
print(len(list3))
list3.pop()
print(list3)
print('\n')

list3.remove(12)#takes only one arg that too VALUE ,NOT THE INDEX  -- INPLACE
print(list3)
print('\n')

print("check")#WHAT IS COPY , SHALLOW COPY VS DEEP COPY
list4=list3.copy()
print(list4)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
None
['a', 'b', 'z']
[1, 'a', 'hike', 2.34, 'a', 'b', 'z']


None
['a', 'b', 'z', 12, 11]
['a', 'b', 'z', 12, 11]
['a', 'b', 'z', 12, 11, 10]
['a', 'b', 'z', 12, 11, 10, 'q']


q
a
['b', 'z', 12, 11, 10]


[10, 11, 12, 'z', 'b']
['b', 'z', 12, 11, 10]


[]


[10, 11]


1
0


[10, 11, 12, 14, 16]


2


5
6
7
[100, 10, 11, 12, 14, 16]


[100, 10, 11, 14, 16]


check
[100, 10, 11, 14, 16]

### shallow,deep copy

https://www.programiz.com/python-programming/shallow-deep-copy

### dictionaries

https://www.w3schools.com/python/python_dictionaries.asp

https://www.programiz.com/python-programming/dictionary

https://realpython.com/python-dicts/

In [15]:
#dictionaries

d1={'k1':123,'k2':'a','k3':'abc','k4':1.2243,'k5':[9,8,7],"k6":{'ik1':1,'ik2':'adfg'}}
print(d1['k1'])
print(d1['k2'])
print(d1["k3"])
print(d1['k4'])
print(d1['k5'])
print(d1['k5'][1])
print(d1['k5'][::])
print(d1['k6'])
print(d1['k6']['ik2'])
print('\n')
print(d1['k6']['ik2'].upper())
print(d1['k6']['ik2'][2].upper())
print('\n#to add in dict ')
d1['k7']='added newly'
d1['k8']=1000
d1['k10']=234.4
d1['k11']=123
print(d1)

123
a
abc
1.2243
[9, 8, 7]
8
[9, 8, 7]
{'ik1': 1, 'ik2': 'adfg'}
adfg


ADFG
F

#to add in dict
{'k1': 123, 'k2': 'a', 'k3': 'abc', 'k4': 1.2243, 'k5': [9, 8, 7], 'k6': {'ik1': 1, 'ik2': 'adfg'}, 'k7': 'added newly', 'k8': 1000, 'k10': 234.4, 'k11': 123}

In [29]:
#methods in dicts
print(d1.values(),type(d1.values()),"\n")
print(d1.keys(),type(d1.keys()),"\n")
print(d1,"\n")
print(d1.items(),type(d1.items()),"\n")
#print(d1.) #==MANY MORE METHODS ARE THERE IN DICTIONARIES IN PYTHON 
# SEE ALL IN GOOGLE

dict_values([123, 'a', 'abc', 1.2243, [9, 8, 7], {'ik1': 1, 'ik2': 'adfg'}, 'added newly', 1000, 234.4, 123]) <class 'dict_values'>

dict_keys(['k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k10', 'k11']) <class 'dict_keys'>

{'k1': 123, 'k2': 'a', 'k3': 'abc', 'k4': 1.2243, 'k5': [9, 8, 7], 'k6': {'ik1': 1, 'ik2': 'adfg'}, 'k7': 'added newly', 'k8': 1000, 'k10': 234.4, 'k11': 123}

dict_items([('k1', 123), ('k2', 'a'), ('k3', 'abc'), ('k4', 1.2243), ('k5', [9, 8, 7]), ('k6', {'ik1': 1, 'ik2': 'adfg'}), ('k7', 'added newly'), ('k8', 1000), ('k10', 234.4), ('k11', 123)]) <class 'dict_items'>

In [26]:
for i in d1.items():
    print(i)
    
print(type(i))

('k1', 123)
('k2', 'a')
('k3', 'abc')
('k4', 1.2243)
('k5', [9, 8, 7])
('k6', {'ik1': 1, 'ik2': 'adfg'})
('k7', 'added newly')
('k8', 1000)
('k10', 234.4)
('k11', 123)
<class 'tuple'>

In [21]:
for i,j in d1.items():
    print(i,"_____",j)

k1 _____ 123
k2 _____ a
k3 _____ abc
k4 _____ 1.2243
k5 _____ [9, 8, 7]
k6 _____ {'ik1': 1, 'ik2': 'adfg'}
k7 _____ added newly
k8 _____ 1000
k10 _____ 234.4
k11 _____ 123

In [25]:
for z in d1:   #loops thro keys
    print(z)

k1
k2
k3
k4
k5
k6
k7
k8
k10
k11

In [13]:
d2={'k2':'abc','k2':123,'k2':12.3,'k3':'hi'}#NOTE--- 2/more same key name then last one only gets saved..
print(d2['k2'])
for k,v in d2.items():
    if v==12.3:
        print(k)

12.3
k2

In [39]:
#TUPLES
# same like lists but IMMUTABLE
t1=('hi',132,12.5,'hi')
t2=('dhiyanu')#THIS IS STRING ######
t3=('dhiyanu',)#THIS IS TUPLE ######
print(type(t1))
print(type(t2))
print(type(t3))
print('\n')

#len() in tuple
print(len(t2))
print(len(t3))
print('\n')

t4=([7,8,9],{'k1':1,'k2':3})
print("type is {} dict check {}".format(type(t4),t4[1]['k2']))
print(t4[0][2])
#print(t4.index(8))

#METHODS 
print("--",t1.count("hi"))
print(t4.count([7,8,9]))
print(t4.count(9))  

print(t1.index('hi'))#IF MULTIPLE PRESENT THE FIRST INDEX IS RETURNED 
# print(t1.index('not present'))-- ERROR COZ NOT PRESENT IN THE TUPLE
print('\n')

t=(12,3,['hi',1.3,45])  ##NOTE : MUTABLE TYPE INSIDE IMMUTABLE OBJ
t[2][0]='dei'
print(t)
#t[2]=['new','list'] TypeError: 'tuple' object does not support item assignment 

t9=[12,3,("hi",1.3,45)]
#t9[2]='hi' -- POSIBLE
t9[2][0]="ver" ## NOT POSSIBLE 
print(t9)

<class 'tuple'>
<class 'str'>
<class 'tuple'>


7
1


type is <class 'tuple'> dict check 3
9
-- 2
1
0
0


(12, 3, ['dei', 1.3, 45])

TypeError: 'tuple' object does not support item assignment

In [6]:
#SETS
tup=('hi','da')
del(tup)
print(tup)

SyntaxError: invalid syntax (<ipython-input-6-50604c8db249>, line 3)

In [3]:
print(tup)

NameError: name 'tup' is not defined

In [8]:
str=input("enter the string: ")
print("in uppercase: ",str.upper())
print("in lowercase: ",str.lower())

enter the string: hello alien
in uppercase:  HELLO ALIEN
in lowercase:  hello alien

In [33]:
#SETS 
set1={1,'d',1,'hello',1.0,2,2.0}#IN PYTHON ITS TRUE DIVISION 1==1.0 BUT IF YOU GIVE 1.0 IT'LL PRINT THE SAME
print(set1)
set1.pop()
print(set1)
set2=set()
set2.add(1)
set2.add("vro")
print(set2)
list1=[1,1.0,'a',3.0,'hef']
set3=set(list1)
print(set3)
set3.pop()
print(set3)
set3.remove('a')
print(set3)
set3.pop()
print(set3)

# Python code to illustrate pop() method
  
S = {"ram", "rahim", "ajay", "rishav", "aakash"}
  
# Popping three elements and printing them
print(S.pop())
print(S.pop())
print(S.pop())
  
# The updated set
print("Updated set is", S)
print('\n**SOME MORE METHS ARE THERE work that also')
# set to list
list1=['a','a','a','b','b','b','b','b','b','b','b','b','c','c','c','c','e']
set5=set(list1)
print(set5)
print(list(set5))# order mi8 change from converting set to list ,so print after changing

#note
print("\n")
set6={'missisippi'}
print(set6)
set9=set('missisippi')
print(set9)
set7=set()
set7.add('missisippi')
print(set7)
set8=set('missisippi',)#RESULT IS SAME 
#SET() CAN TAKE ATMOST 1 ARG 
print(set8)
set10=('jirf')
print(type(set10))
set11=set(set10)
print(set11)
list4=[6,9,5,5,4,1,4,7,8,5,6,2,1,4,5,5,5,5,5,5,5,4,4,4,4,1,1,1,3,6,6,6,6,4]
set12=set(list4)
set13=orderedset(list4)

{1, 2, 'hello', 'd'}
{2, 'hello', 'd'}
{'vro', 1}
{1, 3.0, 'a', 'hef'}
{3.0, 'a', 'hef'}
{3.0, 'hef'}
{'hef'}
rishav
ajay
aakash
Updated set is {'ram', 'rahim'}

**SOME MORE METHS ARE THERE work that also
{'c', 'a', 'e', 'b'}
['c', 'a', 'e', 'b']


{'missisippi'}
{'m', 's', 'i', 'p'}
{'missisippi'}
{'m', 's', 'i', 'p'}
<class 'str'>
{'j', 'f', 'i', 'r'}

NameError: name 'Orderedset' is not defined

   #FILES AND I/O
    ways to open and write on a file
   
   1st way: will only work on jpy notebook -> %%writefile
   
   2nd way: To create a new file in Python, use the open() method, with one of the following parameters:
"x" - Create - will create a file, returns an error if the file exist
"a" - Append - will create a file if the specified file does not exist
"w" - Write - will create a file if the specified file does not exist

   3rd way:we can manually create a txt file {in the same location where we are running
   the jpy notebook (to know dir type pwd), or specify full path in case of access}

In [17]:
pwd

'C:\\Users\\ASUS\\jp python'

In [33]:
%%writefile jupyfile.txt
this method is used 
to directly write on txt file 
via jupy, no other things like cmts 
shldnt b there and also it shld b 1st line

Overwriting jupyfile.txt

In [34]:
myfile1=open('jupyfile.txt')

In [35]:
myfile1.read()
#READS BUT ALL CONTENT AS A SINGLE STRING
#EVENTHOUGH WE WROTE IN DIFF LINE IT APPEARS AS ONE
#WITH /n TO REPRESENT THAT THEY ARE DIFF LINE

'this method is used \nto directly write on txt file \nvia jupy, no other things like cmts \nshldnt b there and also it shld b 1st line\n'

In [36]:
myfile1.read()
#NOTE: THIS IS COZ, IMAGINE THERE IS A CURSOR @ BEGINING BFORE READING 
#AFTER 1 SUCESSFUL read() THE CURSOR COMES TO LAST
#TO SOLVE THIS USE seek(0) TO SET CURSOR TO 1st PLACE

''

In [37]:
myfile1.seek(0)

0

In [38]:
myfile1.read()

'this method is used \nto directly write on txt file \nvia jupy, no other things like cmts \nshldnt b there and also it shld b 1st line\n'

In [39]:
myfile1.seek(0)
myfile1.readlines()#NOTE THERE IS A |n @ LAST SO IT WILL BEHAVE DIFF ,ASSUME THAT THERE IS A CURSOR AFTER THAT 
#HERE ITS A LIST (so we can iterate) BUT STILL /n WILL B PRESENT

['this method is used \n',
 'to directly write on txt file \n',
 'via jupy, no other things like cmts \n',
 'shldnt b there and also it shld b 1st line\n']

In [40]:
myfile1.seek(0)
myfile1.readline()

'this method is used \n'

In [41]:
myfile1.seek(0)
print(myfile1.readable())
myfile1.close()
# we need to close manually or else we will get error when we try to del that file

True

In [42]:
myfile2=open('C:\\Users\\ASUS\\Desktop')#\\ is needed to differantiate meaning b/w '/' -esc sequence
myfile2.read()
#error coz of antivirus not giving access to open files

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\ASUS\\Desktop'

In [43]:
#using this method no need to worry abt closing the file
with open('jupyfile.txt') as myfile3:
    cont=myfile3.read()
    print(myfile3.readable())

print('\n',cont)

True

 this method is used
to directly write on txt file
via jupy, no other things like cmts
shldnt b there and also it shld b 1st line

In [44]:
with open('jupyfile.txt',mode='r') as myfile4:#HERE PRESS SHIFT+TAB NEAR FUNCTION TO KNOW MORE ABT THAT FUNC
    con=myfile4.read()
print(con)

this method is used
to directly write on txt file
via jupy, no other things like cmts
shldnt b there and also it shld b 1st line

In [46]:
with open('jupyfile.txt',mode='a') as myf:# a- so it appends at last - no other operations possible
    myf.write('I APPENDED THIS LINE')
with open('jupyfile.txt',mode='r') as f:#to check 
    cons=f.read()
print(cons[0:2])

th

In [47]:
with open('jupyfile.txt',mode='w') as fi:
    fi.write('oops there was some text before but\n on using "w" mode it overwrites')

In [48]:
with open('jupyfile.txt',mode='r') as f:#to check 
    print(f.read(6))# also note we can pass upto which index we need to read as args

oops t

In [24]:
#stil more modes are there try that ttoo

In [26]:
mff=open('anfile.txt',mode='w')# to create a file using open() method
mff.close()

## SECTION 4

In [9]:
s1='abdef'
s2='abcfe'
print(s1>s2)
#we can use ord() - for ASCII(UNICODE) VALUE OF STR LEN 1(MORE LIKE IT WILL GIVE UNICODE)
# we can use cht()-int as args to get an char corresponding to the unicode
print(ord('d'),ord('c'))

True
100 99

In [10]:
print('hi'>'fg')

True

In [16]:
print(1==1 & 2==2)#coz & is a bitwise operator and has more precedence than == so 1&2=0 ,1==0==1,0-> false

False

In [17]:
#NOTE
x=5
y=5.0
print(x==y)
print(x is y)

True
False

In [21]:
#LOGICAL OPS-COMPARE BOOLEAN
#BITWISE OPS-COMPARE BINARY VALUE
# print(bin(10))--> bin(int) to get the binary value of the int
#print(1&&2)--will give error --> will compare only 2 or more BOOLEAN VALUES
print(1&2)

0b1010
0

In [26]:
print(1>2>=0)

False